<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>To-do list application</title>
  <link href="/static/css/bulma.min.css" rel="stylesheet"/>
  <script src="/static/js/htmx.min.js"></script>
  <link href="/static/img/favicon.ico" rel="shortcut icon" type="image/x-icon">
</head>
<body>
  <div class="container is-fluid">
    <div>
      <img src="/static/img/icon-landscape-192-64.png">
    </div>
    <br/>
    <div class="field">
      <label class="label">Add to-do list</label>
      <div class="control">
        <input class="input is-small is-rounded" type="text" placeholder="Text input">
      </div>
      <p class="help is-small">Please input your to-do list item here</p>
    </div>
    <div class="field">
      <p class="control">
        <button class="button is-danger is-small is-rounded">
          Add
        </button>
      </p>
    </div>
    <div class="table-container">
      <table class="table is-narrow is-fullwidth is-hoverable">
        <thead>
          <tr>
            <th>To-do item</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <input class="input is-small is-rounded" type="text" placeholder="Text input">
            </td>
            <td>
              <a class="button is-danger is-small is-rounded">Update</a>
              <a class="button is-danger is-small is-rounded">Delete</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>